* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.wrapper {
  min-height: calc(100vh - 527px);
}

.footer {
  min-height: 527px;
}

.content__centering {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background: #222222;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__search {
  margin-left: 41px;
}

.header__right__link:not(:last-child) {
  margin-right: 33px;
  text-decoration: none;
}

.breadcrumbs {
  height: 148px;
  background: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.breadcrumbs__title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.cart {
  margin-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  padding-right: 22px;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.product__card__text {
  margin-left: 31px;
  margin-top: 22px;
  max-width: 262px;
}

.top__row {
  max-width: 209px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.spectext {
  max-width: 166px;
  margin-top: 42px;
}

.spectext p {
  margin-bottom: 6px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.spectext__price {
  color: #F16D7F;
}

.spectext__color {
  color: #B1B1B1;
}

.spectext__size {
  color: #b1b1b1;
}

.spectext__qauntity {
  width: 44px;
  height: 25px;
  border-color: #b1b1b1;
}

.product__card__remove {
  margin-left: 53px;
  width: 18px;
  height: 18px;
  margin-top: 28px;
  border: none;
}

.product__card__remove svg {
  background-color: white;
}

.product__card__remove svg:hover {
  background-color: white;
  cursor: pointer;
}

.info__block {
  margin-top: 17px;
  width: 360px;
}

.address__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.address__form p {
  margin-bottom: 20px;
}

.address__form input {
  margin-bottom: 20px;
  height: 45px;
  padding-left: 17px;
  padding-right: 17px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.address__form button {
  margin-top: 3px;
  height: 35px;
  max-width: 101px;
  background-color: #ffffff;
  border: 1px solid #A4A4A4;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.address__form__title {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.price__block {
  margin-top: 57px;
  max-width: 360px;
  min-height: 214px;
  background: #F5F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__block__sub {
  padding-top: 39px;
  padding-bottom: 12px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  width: 273px;
  text-align: right;
}

.price__block__sub span {
  margin-left: 20px;
}

.price__block__grand {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  width: 273px;
  text-align: right;
}

.price__block__grand span {
  color: #F16D7F;
  font-weight: 600;
  margin-left: 20px;
}

.price__block div {
  width: 275px;
  height: 1px;
  margin-top: 21px;
  background: #E2E2E2;
}

.price__block__proceed {
  margin-top: 17px;
  background: #F16D7F;
  border: none;
  width: 273px;
  height: 50px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.price__block__proceed:hover {
  background: #ffffff;
  color: #F16D7F;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.subscribe {
  min-height: 448px;
  background-image: url("../images/footer_background_image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe__block__1 {
  text-align: center;
  margin-top: 97px;
}

.subscribe__block__1__text {
  margin-top: 30px;
  max-width: 360px;
  min-height: 99px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe__block__2 {
  margin-top: 150px;
  text-align: center;
}

.subscribe__block__2__p__1 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167%;
  text-align: center;
  color: #222224;
}

.subscribe__form {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.subscribe__input {
  width: 256px;
  height: 49px;
  background: #E1E1E1;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  padding-left: 22px;
  padding-right: 22px;
}

.subscribe__button {
  width: 100px;
  height: 49px;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: #F16D7F;
  -webkit-transition: .5s;
  transition: .5s;
}

.subscribe__button:hover {
  background: #D73C3C;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer__info {
  min-height: 79px;
  background: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__info__copyright {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer__link {
  text-decoration: none;
  text-transform: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer__icon:hover .footer__link__icon__background {
  stroke: #F16D7F;
  fill: #F16D7F;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer__icon:hover .footer__link__icon__text {
  fill: #FffffF;
  -webkit-transition: .3s;
  transition: .3s;
}
/*# sourceMappingURL=cart.css.map */