* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.wrapper {
  min-height: calc(100vh - 527px);
}

.footer {
  min-height: 527px;
}

.content__centering {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background: #222222;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__search {
  margin-left: 41px;
}

.header__right__link:not(:last-child) {
  margin-right: 33px;
  text-decoration: none;
}

.breadcrumbs {
  height: 148px;
  background: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.breadcrumbs__title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.subscribe {
  min-height: 448px;
  background-image: url("../images/footer_background_image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe__block__1 {
  text-align: center;
  margin-top: 97px;
}

.subscribe__block__1__text {
  margin-top: 30px;
  max-width: 360px;
  min-height: 99px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe__block__2 {
  margin-top: 150px;
  text-align: center;
}

.subscribe__block__2__p__1 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167%;
  text-align: center;
  color: #222224;
}

.subscribe__form {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.subscribe__input {
  width: 256px;
  height: 49px;
  background: #E1E1E1;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  padding-left: 22px;
}

.subscribe__button {
  width: 100px;
  height: 49px;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: #F16D7F;
}

.subscribe__button:hover {
  background: #D73C3C;
}

.footer__info {
  min-height: 79px;
  background: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__info__copyright {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer__link {
  text-decoration: none;
  text-transform: none;
}

.footer__icon:hover .footer__link__icon__background {
  stroke: #F16D7F;
  fill: #F16D7F;
}

.footer__icon:hover .footer__link__icon__text {
  fill: #FffffF;
}
/*# sourceMappingURL=cart.css.map */