* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.wrapper {
  min-height: calc(100vh - 527px);
}

.footer {
  min-height: 527px;
}

.content__centering {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background: #222222;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__search {
  margin-left: 41px;
}

.header__right__link:not(:last-child) {
  margin-right: 33px;
  text-decoration: none;
}

.breadcrumbs {
  height: 148px;
  background: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.breadcrumbs__title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumbs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__list {
  list-style-type: none;
}

.breadcrumbs__list:not(:last-child)::after {
  content: '/';
  margin-left: 8px;
  margin-right: 8px;
}

.breadcrumbs__list:last-child a {
  color: #F16D7F;
  font-weight: bold;
}

.breadcrumbs__link {
  text-decoration: none;
}

.filter__sort {
  padding-top: 39px;
  padding-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

summary {
  display: block;
  outline: none;
}

summary::-webkit-details-marker {
  display: none;
}

.filter {
  margin-right: 30px;
  position: relative;
  width: 360px;
}

.filter__summary {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-right: 11px;
}

.filter__details {
  padding: 0px 16px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.filter__details[open] {
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter__details[open] .filter__summary {
  color: #F16D7F;
}

.filter__details[open] path {
  fill: #F16D7F;
}

.filter__ul {
  list-style-type: none;
  padding-left: 17px;
  padding-top: 24px;
}

.filter__ul a {
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filter__details-in {
  margin-top: 16px;
}

.filter__details-in[open] .filter__heading-in {
  color: #EF5B70;
}

.filter__summary-in {
  border-left: 5px solid #EF5B70;
}

.filter__heading-in {
  padding: 8px 0px 11px 11px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: block;
  border-bottom: 1px solid #EBEBEB;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-preferred-size: 750px;
      flex-basis: 750px;
}

.products {
  margin-top: 64px;
}

.products__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product__card {
  height: 582px;
  background: #F8F8F8;
}

.product__card:nth-child(-n+6) {
  margin-bottom: 30px;
}

.product__card__text {
  margin-top: 25px;
  margin-left: 16px;
  max-width: 314px;
}

.product__card__p1 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.product__card__p2 {
  margin-top: 12px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.product__card__p3 {
  margin-top: 18px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.padding__block {
  margin-top: 48px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.padding__block__text {
  width: 284px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
}

.padding__block__text > * {
  margin-left: 10px;
  margin-right: 10px;
}

.padding__block__page__number > * {
  margin-left: 10px;
  margin-right: 10px;
}

.padding__block__page__number {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #EBEBEB;
}

.padding__block__page__number--active {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #EF5B70;
}

.sale {
  background: #222222;
  color: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  gap: 20px;
  margin-top: 95px;
  min-height: 341px;
}

.sale_item {
  max-width: 360px;
  margin-top: 104px;
  margin-bottom: 104px;
}

.sale_title {
  margin-top: 19px;
  margin-bottom: 16px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.sale_text {
  margin-top: 19px;
  margin-bottom: 16px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.subscribe {
  min-height: 448px;
  background-image: url("../images/footer_background_image.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe__block__1 {
  text-align: center;
  margin-top: 97px;
}

.subscribe__block__1__text {
  margin-top: 30px;
  max-width: 360px;
  min-height: 99px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe__block__2 {
  margin-top: 150px;
  text-align: center;
}

.subscribe__block__2__p__1 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167%;
  text-align: center;
  color: #222224;
}

.subscribe__form {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.subscribe__input {
  width: 256px;
  height: 49px;
  background: #E1E1E1;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  padding-left: 22px;
}

.subscribe__button {
  width: 100px;
  height: 49px;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: #F16D7F;
}

.subscribe__button:hover {
  background: #D73C3C;
}

.footer__info {
  min-height: 79px;
  background: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__info__copyright {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer__link {
  text-decoration: none;
  text-transform: none;
}

.footer__icon:hover .footer__link__icon__background {
  stroke: #F16D7F;
  fill: #F16D7F;
}

.footer__icon:hover .footer__link__icon__text {
  fill: #FffffF;
}
/*# sourceMappingURL=catalog.css.map */